@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient( to top, #49a09d, #5f2c82) ;
    }
    section#login{
        width: 90vw;

    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
    
}
@media screen and (min-width: 950px ) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login{
        width: 950px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 30%;
    }
    div.campo> span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo >input{
    background-color: #7dfaf6d5;
    font-size: 1em;
    width: calc(100%-39px);
    transform: translateY(-10px);
    height: 100%;
    border: 0px;
    padding: 5px;
    border-radius: 4px;
}
}